body {background-color:black;}



H1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: royalblue;
    }

p {
    color: white;
    font-weight: bolder;
    text-align: center;
}

iframe{
    margin-left: 50px;
}

card-body{
    color:grey;
}